<!-- base.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'lista_libros' %}">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_libros' %}">Lista de Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_libro' %}">Agregar Libro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_prestamos' %}">Lista de Préstamos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_prestamo' %}">Agregar Préstamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'devolver_prestamo' %}">Devolver Préstamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pagar_multa' %}">Pagar Multa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reportes' %}">Reportes</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>
</body>
</html>